{% load static %}

{% load mediapath %}
<div class="col-4 d-flex">
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
        </div>
        <div class="card-body">
            <img src="{{ object.image|mediapath }}" width="70%" height="225"/>
            <p class="card-text">{{ object.description|slice:':100' }}</p>
            <h1 class="text-center card-title pricing-card-title">{{ object.price_for_one }} $</h1>
        </div>
        <div class="card-footer ">
            <div class="form-inline">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                <a type="button" class="btn btn-lg btn_block btn-outline-secondary"
                   href="{% url 'catalog:product_detail' object.pk %}">Подробнее</a>
                <a type="button" class="btn btn-lg btn_block btn-outline-secondary"
                   href="{% url 'catalog:update_product' object.pk %}">Изменить</a>
                <a type="button" class="btn btn-lg btn_block btn-outline-secondary"
                   href="{% url 'catalog:delete_product' object.pk %}">Удалить</a>
                <a type="button" class="btn btn-lg btn_block btn-outline-secondary"
                   href="{% url 'reviews:list_reviews' product_id=object.pk %}">Отзывы</a>
            </div>
        </div>
    </div>
</div>
