{% extends 'catalog/base.html' %}
{% load mediapath %}
{% block content%}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Блоги</h1>
</div>
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'blogs:create_blog' %}">Добавить блог</a>
</div>
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow ">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ object.image|mediapath}}" width="70%" height="225"/>
                <p class="card-text">{{ object.body| slice:':100' }}</p>
                <p class="card-text">{{ object.date }}</p>
            </div>
            <div class="card-footer ">
                <div class="form-inline">
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       href="{% url 'blogs:view_blog' object.pk %}">Подробнее</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       href="{% url 'blogs:edit_blog' object.pk %}">Редактировать</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       href="{% url 'blogs:delete_blog' object.pk %}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}