{% extends 'catalog/base.html' %}
{% load mediapath %}
{% load crispy_forms_tags %}
{%block content%}

<div class="col-12">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Сброс пароля</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="mt-4 btn btn-primary">Отправить</button>
                        <a href="{%url 'users:login' %}" class="mt-4 btn btn-primary">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}