{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3>Вы успешно зарегистрироованы!</h3>
                </div>
                <div class="card-body">
                    <p>Ваш электронный адрес подтвержден!</p>
                    <a type="button" class="btn btn-outline-primary" href="{% url 'catalog:index'%}">На главную</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}